.App > .Header {
  height: 60px;
  background: var(--navbar-background);
  align-items: center;
  transition: all 0.2s ease-out;
}

.App > .Header > .menu {
  justify-content: flex-start;
  height: 60px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.App > .Header > .brand {
  height: 60px;
}

.App > .Header > .brand > .icon {
  height: 60px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
}

.App > .Header > .toolbar > .button {
  min-width: 40px;
  height: 40px;
  background: var(--navbar-item-hover-background);
  border-radius: var(--border-radius);
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App > .Header > .brand > .name {
  justify-content: center;
  align-items: center;
}

.App > .Header > .toolbar > .token {
  height: 40px;
  background: var(--card-background);
  border-radius: var(--border-radius);
  margin-left: 10px;
  align-items: center;
  margin-right: 10px;
}

.App > .Header > .toolbar > .token > .address {
  padding: 0 15px 0 15px;
}

.App > .Header > .toolbar > .token > .price {
  background: #FB2715;
  height: 40px;
  border-radius: var(--border-radius);
  padding: 0 15px 0 8px;
  align-items: center;
  flex-direction: row;
}

.App > .Header > .toolbar > .token > .price > .icon {
  background: rgba(255, 255, 255, 0.4);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
}

.App > .Header > .toolbar > .token > .price > .value {
  color: white;
}

@media only screen and (max-width: 640px) {
  .App > .Header > .menu {
    display: flex;
  }

  .App > .Header > .brand {
    position: absolute;
    top: -60px;
    left: 60px;
    transition: all 0.2s ease-out;
    width: calc(100vw - 120px);
    flex-direction: row-reverse;
    justify-content: center;
  }

  .App > .Header.nav > .brand {
    top: 0;
  }

  .App > .Header > .brand > .icon {
    position: absolute;
    top: 0;
    right: -60px;
  }

  .App > .Header > .toolbar {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-out;
    height: 60px;
    align-items: center;
  }

  .App > .Header.nav > .toolbar {
    right: -60px;
    opacity: 0;
  }

  .App > .Header > .toolbar > .token > .address {
    display: none;
  }
}
