.App > .Header {
  height: 60px;
  background: var(--navbar-background);
  align-items: center;
  transition: all 0.2s ease-out;
}

.App > .Header > .menu {
  justify-content: flex-start;
  height: 60px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.App > .Header > .brand {
  height: 60px;
}

.App > .Header > .brand > .icon {
  height: 60px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
}

.App > .Header > .toolbar > .button {
  min-width: 40px;
  height: 40px;
  background: var(--navbar-item-hover-background);
  border-radius: var(--border-radius);
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App > .Header > .brand > .name {
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .App > .Header > .menu {
    display: flex;
  }

  .App > .Header > .brand {
    position: absolute;
    top: -60px;
    left: 60px;
    transition: all 0.2s ease-out;
    width: calc(100vw - 120px);
    flex-direction: row-reverse;
    justify-content: center;
  }

  .App > .Header.nav > .brand {
    top: 0;
  }

  .App > .Header > .brand > .icon {
    position: absolute;
    top: 0;
    right: -60px;
  }

  .App > .Header > .toolbar {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-out;
    height: 60px;
    align-items: center;
  }

  .App > .Header.nav > .toolbar {
    right: 0px;
    opacity: 0;
  }

  .App > .Header > .toolbar > .button {
    min-width: 38px;
    height: 40px;
    background: transparent;
    border-radius: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
