body.theme-light {
  --font-color: black;
  --content-background: #e5ebf5;/*#d5deed*/
  --navbar-background: white;
  --navbar-item-hover-background: rgba(0, 0, 0, 0.05);
  --card-background: white;
  --button1-background: #aacdff;
  --button2-background: black;
  --button2-font-color: white;
}
