html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  transition: background 0.2s ease-out;
}

div {
  display: flex;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.App {
  width: 100vw;
  min-height: 100vh;
  --navbar-min-width: 60px;
  --border-radius: 15px;
  --main-margin: 25px;
  font-size: 14px;
}

.theme-dark {
  background: #000;
  --content-background: #000;
  --navbar-background: #25212D;
  --navbar-item-hover-background: rgba(255, 255, 255, 0.05);
  --card-background: rgba(255, 255, 255, 0.08);
  color: white;
}

.theme-light {
  background: #d5deed;
  --content-background: #d5deed;
  --navbar-background: white;
  --navbar-item-hover-background: rgba(0, 0, 0, 0.05);
  --card-background: white;
  color: black;
}

@media only screen and (max-width: 640px) {
  .App {
    --navbar-min-width: 0px;
    --main-margin: 15px;
  }
}
