.View > .Pools .Overview {
  margin-top: var(--main-margin);
  flex-wrap: wrap;
  align-items: flex-start;
}

.View > .Pools .Overview > .Layout-card {
  margin-bottom: var(--main-margin);
  width: calc(50% - var(--main-margin) / 2);
}

.View > .Pools .Overview > .Layout-card:nth-child(odd) {
  margin-right: var(--main-margin);
}

.View > .Pools .Overview > .Layout-card:first-child {
  margin-top: 0;
}

@media only screen and (max-width: 900px) {
  .View > .Pools .Overview {
    margin-top: var(--main-margin);
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .View > .Pools .Overview > .Layout-card {
    margin-bottom: var(--main-margin);
    margin-right: 0;
    width: 100%;
  }

  .View > .Pools .Overview > .Layout-card:last-child {
    margin-bottom: 0;
  }
}
